{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Клики вебмастера{% endblock %}

{% block page_title %}
    <h2 class="text-center my-4">Клики вебмастера</h2>
{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <form method="get" class="mb-4">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <label for="offer_id" class="form-label">Оффер</label>
                        <select id="offer_id" name="offer_id" class="form-select form-select-sm">
                            <option value="">Все офферы</option>
                            {% for offer in offers %}
                            <option value="{{ offer.id }}" {% if offer.id|stringformat:"s" == request.GET.offer_id %}selected{% endif %}>{{ offer.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="start_date" class="form-label">Дата от</label>
                        <input type="date" id="start_date" name="start_date" class="form-control form-control-sm" value="{{ request.GET.start_date }}">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="end_date" class="form-label">Дата до</label>
                        <input type="date" id="end_date" name="end_date" class="form-control form-control-sm" value="{{ request.GET.end_date }}">
                    </div>
                    <!-- Добавляем фильтры для sub_1...sub_5 -->
                    <div class="col-md-3 mb-2">
                        <label for="sub_1" class="form-label">Sub 1</label>
                        <input type="text" id="sub_1" name="sub_1" class="form-control form-control-sm" value="{{ request.GET.sub_1 }}">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="sub_2" class="form-label">Sub 2</label>
                        <input type="text" id="sub_2" name="sub_2" class="form-control form-control-sm" value="{{ request.GET.sub_2 }}">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="sub_3" class="form-label">Sub 3</label>
                        <input type="text" id="sub_3" name="sub_3" class="form-control form-control-sm" value="{{ request.GET.sub_3 }}">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="sub_4" class="form-label">Sub 4</label>
                        <input type="text" id="sub_4" name="sub_4" class="form-control form-control-sm" value="{{ request.GET.sub_4 }}">
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="sub_5" class="form-label">Sub 5</label>
                        <input type="text" id="sub_5" name="sub_5" class="form-control form-control-sm" value="{{ request.GET.sub_5 }}">
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-sm">Фильтровать</button>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover table-sm" style="font-size: 0.875em;">
            <thead class="thead-dark">
                <tr>
                    <th>Домен</th>
                    <th>IP (геопозиция)</th>
                    <th>Дата клика</th>
                    <th>Sub 1</th>
                    <th>Sub 2</th>
                    <th>Sub 3</th>
                    <th>Sub 4</th>
                    <th>Sub 5</th>
                    <th>Данные о клиенте</th>
                </tr>
            </thead>
            <tbody>
                {% for click in page_obj %}
                <tr>
                    <td>{{ click.domain|default_if_none:"" }}</td>
                    <td>{{ click.ip_adress|default_if_none:"" }} {% if click.ip_adress %}( {{ click.ip_adress|get_geolocation }} ){% endif %}</td>
                    <td>{{ click.created_at|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ click.sub_1|default_if_none:"" }}</td>
                    <td>{{ click.sub_2|default_if_none:"" }}</td>
                    <td>{{ click.sub_3|default_if_none:"" }}</td>
                    <td>{{ click.sub_4|default_if_none:"" }}</td>
                    <td>{{ click.sub_5|default_if_none:"" }}</td>
                    <td>{{ click.click_data|default_if_none:""|truncatewords:150 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Пагинация -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
