<div class="list-group">
    <a href="{% url 'article_detail' %}" class="list-group-item list-group-item-action">Информация</a>
    {% if user.is_authenticated %}
        {% if advertiser_profile %}
            <!-- Ссылки для рекламодателя -->
        {% elif webmaster_profile %}
            <a href="#" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">
                Все заказы {% if not webmaster_profile.is_approved %}(Недоступно){% endif %}
            </a>
            <a href="#" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">
                Мои заказы {% if not webmaster_profile.is_approved %}(Недоступно){% endif %}
            </a>
            <a href="#" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">
                Лидвол {% if not webmaster_profile.is_approved %}(Недоступно){% endif %}
            </a>
            <a href="#" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">
                Финансы {% if not webmaster_profile.is_approved %}(Недоступно){% endif %}
            </a>
            <a href="#" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">
                Статистика {% if not webmaster_profile.is_approved %}(Недоступно){% endif %}
            </a>
            <a href="{% url 'article_detail' %}" class="list-group-item list-group-item-action">
                Информация
            </a>
        {% endif %}
    {% endif %}
</div>
