<!-- templates/user_accounts/menu.html -->
<div class="list-group">
    <a href="{% url 'article_list' %}" class="list-group-item list-group-item-action">Информация</a>
    {% if user.is_authenticated %}
        {% if advertiser_profile %}
            {% if advertiser_profile.partner_card.is_approved %}
                <a href="{% url 'view_partner_card' %}" class="list-group-item list-group-item-action">Депозит</a>
                <a href="{% url 'advertiser_offers' %}" class="list-group-item list-group-item-action">Офферы</a>
                <a href="{% url 'advertiser_leads' %}" class="list-group-item list-group-item-action">Лидвол</a>
                <a href="{% url 'advertiser_offer_statistics' %}" class="list-group-item list-group-item-action"> Статистика</a>
                <a href="{% url 'advertiser_financial_statistics' %}" class="list-group-item list-group-item-action">Финансы</a>
                {% else %}
                <a href="{% url 'edit_partner_card' %}" class="list-group-item list-group-item-action">Карточка партнера</a>
            {% endif %}
        {% elif webmaster_profile %}
            <a href="{% url 'available_offers' %}" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">Офферы{% if not webmaster_profile.is_approved %}(Недоступно){% endif %}</a>
            <a href="{% url 'webmaster_leads' %}" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">Лидвол{% if not webmaster_profile.is_approved %}(Недоступно){% endif %}</a>
            <a href="{% url 'webmaster_clicks' %}" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">Клики{% if not webmaster_profile.is_approved %}(Недоступно){% endif %}</a>
            <a href="{% url 'webmaster_offer_statistics' %}" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">Статистика{% if not webmaster_profile.is_approved %}(Недоступно){% endif %}</a>
            <a href="{% url 'webmaster_financial_statistics' %}" class="list-group-item list-group-item-action {% if not webmaster_profile.is_approved %}disabled{% endif %}">Финансы{% if not webmaster_profile.is_approved %}(Недоступно){% endif %}</a>

        {% endif %}

        {% if user.is_superuser %}
            <a href="{% url 'admin_offer_statistics' %}" class="list-group-item list-group-item-action">Admin Статистика</a>
        {% else %}
            <a href="{% url 'advertiser_offer_statistics' %}" class="list-group-item list-group-item-action">Статистика</a>
        {% endif %}

    {% endif %}


</div>
