<!-- templates/offers/my_offers.html -->
{% extends "base.html" %}
{% block title %}Мои офферы{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 class="my-4 text-center">Мои офферы</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Логотип</th>
                    <th>Название</th>
                    <th>Описание услуг</th>
                    <th>Цена за лид</th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                    <tr>
                        <td><a href="{% url 'webmaster_offer_detail' offer.id %}">{{ offer.id }}</a></td>
                        <td>
                            {% if offer.logo %}
                                <img src="{{ offer.logo.url }}" alt="{{ offer.name }}" width="50">
                            {% else %}
                                Нет логотипа
                            {% endif %}
                        </td>
                        <td>{{ offer.name }}</td>
                        <td>{{ offer.service_description|truncatewords:20 }}</td>
                        <td>{{ offer.lead_price }} руб.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
