<!-- templates/statistics/advertiser_financial_statistics.html -->
{% extends "base.html" %}
{% block title %}Финансовая Статистика{% endblock %}



{% block page_title %}
    <h2 class="text-center my-4">Финансовая Статистика</h2>
{% endblock %}

{% block content %}

<!-- Подключение jQuery -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="row justify-content-center">
    <div class="col-md-10">
        <!-- Фильтры -->
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-3">
                    <label for="offer_id">Оффер</label>
                    <select id="offer_id" name="offer_id" class="form-control">
                        <option value="">Все офферы</option>
                        {% for offer in offers %}
                        <option value="{{ offer.id }}" {% if offer.id|stringformat:"s" == request.GET.offer_id %}selected{% endif %}>{{ offer.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-2">
                        <label for="date" class="form-label">Дата</label>
                        <input type="text" id="date" name="date" class="form-control form-control-sm" value="{{ request.GET.date }}" placeholder="Дата">
                    </div>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </div>
        </form>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Оффер</th>
                    <th>Вебмастер</th>
                    <th>Принятые лиды</th>
                    <th>Выплачено ₽</th>
                    <th>Холд ₽</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in financial_stats %}
                <tr>
                    <td>
                        {% if stat.offer_webmaster__offer__id %}
                            <a href="{% url 'offer_detail' stat.offer_webmaster__offer__id %}">{{ stat.offer_webmaster__offer__name }}</a>
                        {% else %}
                            {{ stat.offer_webmaster__offer__name }}
                        {% endif %}
                    </td>
                    <td>{{ stat.offer_webmaster__webmaster__user__username }}</td>
                    <td>{{ stat.accepted_leads }}</td>


                    <td>
                        {% if stat.spent  %}
                            {{ stat.spent }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if stat.on_hold  %}
                        {{ stat.on_hold }}
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Итого</strong></td>
                    <td></td>
                    <td><strong>{{ result.res_accepted_leads }}</strong></td>
                    <td> <strong>{{ result.res_spent }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
$(function() {
    $('#date').daterangepicker({

        opens: 'left',
        locale: {
            format: 'YYYY-MM-DD',  // Устанавливаем формат даты для совместимости с сервером
            "daysOfWeek": [
                "Вс",
                "Пн",
                "Вт",
                "Ср",
                "Чт",
                "Пт",
                "Сб"
            ],
            "monthNames": [
                "Январь",
                "Февраль",
                "Март",
                "Апрель",
                "Май",
                "Июнь",
                "Июль",
                "Август",
                "Сентябрь",
                "Октябрь",
                "Ноябрь",
                "Декабрь"
            ],
        },
        ranges: {
            'Все время': [moment('1970-01-01'), moment()],
            'Вчера': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Последние 2 дня': [moment().subtract(1, 'days'), moment()],
            'Последние 7 дней': [moment().subtract(6, 'days'), moment()],
            'Последние 30 дней': [moment().subtract(29, 'days'), moment()],
            'Этот месяц': [moment().startOf('month'), moment().endOf('month')],
            'Прошлый месяц': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },


    });
});
</script>


{% endblock %}

