{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Лиды вебмастера{% endblock %}

{% block page_title %}
    <h2 class="text-center my-4">Лиды вебмастера | Треш</h2>
{% endblock %}


{% block content %}
{% include '../column_filter.html' %}

<!-- Вкладки -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="all-offers-tab" data-bs-toggle="tab" href="{% url 'webmaster_leads' %}" role="tab" aria-controls="all-lead" aria-selected="false">
        Все
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="my-offers-tab" data-bs-toggle="tab" href="{% url 'webmaster_trash_leads' %}" role="tab" aria-controls="trash-leads" aria-selected="true">
        Треш
      </a>
    </li>
  </ul>

<div class="row justify-content-center">
    <div class="col-md-10">

        <form id="filter-form" method="get">
            <table class="table table-striped table-hover table-sm" style="font-size: 0.7em;">
            <thead class="thead-dark">
                <tr>
                    <th class="table-domain">Домен</th>
                    <th class="table-id" scope="col" >ID</th>
                    <th class="table-name" scope="col" >Имя</th>
                    <th class="table-phone" scope="col" >Телефон</th>
                    <th class="table-ip_goe" scope="col" >IP (геопозиция)</th>
                    <th class="table-description" scope="col" >Описание</th>
                    <th class="table-additional" scope="col" >Дополнительно</th>
                    <th class="table-state" scope="col" >Состояние</th>
                    <th>Статус обработки</th>
                    <th class="table-offer" scope="col" >Оффер</th>
                    <th class="table-sub_1" scope="col" >Sub 1</th>
                                        <th class="table-sub_2" scope="col" >Sub 2</th>
                    <th class="table-sub_3" scope="col" >Sub 3</th>
                    <th class="table-sub_4" scope="col" >Sub 4</th>
                    <th class="table-sub_5" scope="col" >Sub 5</th>
                    <th class="table-created" scope="col" >Дата создания</th>
                    <th class="table-changed" scope="col" >Дата изменения статуса</th>
                                        <th class="table-comment" scope="col" >Комментарий</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                        {% csrf_token %}
                        <td><input type="text" id="domain_name" name="domain_name" class="form-control form-control-sm" value="{{ request.GET.domain_name }}" placeholder="Домен" style="width:60px"></td>
                        <td><input type="text" id="id" name="id" class="form-control form-control-sm" value="{{ request.GET.id }}" placeholder="Id" style="width:40px"></td>
                        <td><input type="text" id="name" name="name" class="form-control form-control-sm" value="{{ request.GET.name }}" placeholder="Имя" style="width:60px"></td>
                        <td><input type="text" id="phone_number" name="phone_number" class="form-control form-control-sm" value="{{ request.GET.phone_number }}" placeholder="Телефон"></td>
                        <td><input type="text" id="geo" name="geo" class="form-control form-control-sm" value="{{ request.GET.geo }}" placeholder="Геопозиция"></td>
                        <td></td>
                        <td></td>
                        <td>
                            <select id="lead_status" name="lead_status" class="form-select form-select-sm">
                                <option value="">Все статусы</option>
                                {% for status, label in leads.model.LEAD_STATUS_CHOICES %}
                                <option value="{{ status }}" {% if status == request.GET.lead_status %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>

                        </td>
                        <td>
                            <select id="offer_id" name="offer_id" class="form-select form-select-sm">
                                <option value="">Все офферы</option>
                                {% for offer in offers %}
                                <option value="{{ offer.id }}" {% if offer.id|stringformat:"s" == request.GET.offer_id %}selected{% endif %}>{{ offer.name }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td><input type="text" id="sub_1" name="sub_1" class="form-control form-control-sm" value="{{ request.GET.sub_1 }}" style="width: 100px"></td>
                        <td><input type="text" id="sub_2" name="sub_2" class="form-control form-control-sm" value="{{ request.GET.sub_2 }}" style="width: 100px"></td>
                        <td><input type="text" id="sub_3" name="sub_3" class="form-control form-control-sm" value="{{ request.GET.sub_3 }}" style="width: 100px"></td>
                        <td><input type="text" id="sub_4" name="sub_4" class="form-control form-control-sm" value="{{ request.GET.sub_4 }}" style="width: 100px"></td>
                        <td><input type="text" id="sub_5" name="sub_5" class="form-control form-control-sm" value="{{ request.GET.sub_5 }}" style="width: 100px"></td>
                        <td>
                            <input type="date" id="start_date" name="start_date" class="form-control form-control-sm" value="{{ request.GET.start_date }}">
                        </td>
                        <td>
                            <input type="date" id="end_date" name="end_date" class="form-control form-control-sm" value="{{ request.GET.end_date }}">
                        </td>
                        <td></td>

                </tr>
                {% for lead in page_obj %}
                <tr class="{% if lead.status == 'on_hold' %}table-warning{% elif lead.status == 'cancelled' %}table-danger{% elif lead.status == 'paid' %}table-success{% endif %}">
                    <td>{{ lead.domain|default_if_none:"" }}</td>
                    <td>{{ lead.id }}</td>
                    <td>{{ lead.name|default_if_none:"" }}</td>
                    <td class='phone'>{{ lead.phone|default_if_none:"" }}</td>
                    <td>{{ lead.ip_adress|default_if_none:"" }} {% if lead.ip_adress %}( {{ lead.ip_adress|get_geolocation }} ){% endif %}</td>
                    <td>{{ lead.description|default_if_none:""|truncatewords:50 }}</td>
                    <td>{{ lead.description_extra|default_if_none:""|truncatewords:50 }}</td>
                    <td>{{ lead.get_status_display }}</td>
                    <td>{{ lead.get_processing_status_display }}</td>
                    <td>
                        <a href="{% url 'webmaster_offer_detail' lead.offer_webmaster.offer.id %}">
                            {{ lead.offer_webmaster.offer.name|default_if_none:"" }}
                        </a>
                    </td>
                    <td>{{ lead.sub_1|default_if_none:"" }}</td>
                    <td>{{ lead.sub_2|default_if_none:"" }}</td>
                    <td>{{ lead.sub_3|default_if_none:"" }}</td>
                    <td>{{ lead.sub_4|default_if_none:"" }}</td>
                    <td>{{ lead.sub_5|default_if_none:"" }}</td>
                    <td>{{ lead.created_at|date:"d.m.Y" }}</td>
                    <td>{{ lead.update_at|date:"d.m.Y H:i:s" }}</td>
                    <td>
                        {% if lead.comments.last %}
                        <p><strong>{{ lead.comments.last.user.username }}</strong> ({{ lead.comments.last.created_at|date:"d.m.Y H:i:s" }}):</p>
                        <p>{{ lead.comments.last.text }}</p>
                        <button class="btn btn-sm btn-primary show-all-comments" data-lead-id="{{ lead.id }}">Посмотреть все комментарии</button>
                        <div class="all-comments" id="all-comments-{{ lead.id }}" style="display: none;">
                            {% for comment in lead.comments.all %}
                            <div>
                                <strong>{{ comment.user.username }}</strong> ({{ comment.created_at|date:"d.m.Y H:i:s" }}):
                                <p>{{ comment.text }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p>Нет комментариев</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

            <!-- Пагинация -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.offer_id %}offer_id={{ request.GET.offer_id }}&{% endif %}{% if request.GET.status %}status={{ request.GET.status }}&{% endif %}page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
            const showAllCommentsButtons = document.querySelectorAll('.show-all-comments');

            showAllCommentsButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const leadId = this.getAttribute('data-lead-id');
                    const commentsDiv = document.getElementById(`all-comments-${leadId}`);
                    if (commentsDiv.style.display === 'none') {
                        commentsDiv.style.display = 'block';
                        this.style.display = 'none'; // Скрываем кнопку после показа всех комментариев
                    } else {
                        commentsDiv.style.display = 'none';
                    }
                });
            });
        });
    </script>
      <script>
        // скрытие номера
        // Функция для маскировки телефона
        function maskPhoneNumber(phoneNumber) {
            return phoneNumber.replace(/(\+\d{1,3})(\d{3})(\d{4})(\d{3})/, '$1$2****$4');
        }

        // Находим все элементы с классом "phone"
        const phoneElements = document.querySelectorAll('.phone');

        // Применяем маскировку к каждому элементу
        phoneElements.forEach(phoneElement => {
            const originalPhone = phoneElement.textContent.trim(); // Получаем текст номера
            phoneElement.textContent = maskPhoneNumber(originalPhone); // Заменяем текст на маскированный
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Найдем все элементы фильтров в форме
            const filterForm = document.getElementById('filter-form');
            const filterElements = filterForm.querySelectorAll('select, input');

            // Добавим обработчик события для каждого элемента формы
            filterElements.forEach(function(element) {
                element.addEventListener('change', function() {
                    // Отправляем форму автоматически при изменении любого фильтра
                    filterForm.submit();
                });
            });
        });
    </script>
{% endblock %}
